body {
  background: linear-gradient(135deg, #83c5be, #ffddd2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Poppins';
  overflow-x: hidden;
  padding-top: 64px;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: padding 0.3s ease-in-out;
}

code {
  font-family: 'Poppins';
}

.MuiDrawer-paperAnchorLeft {
  background: #2e3951; 
  color: #e0e0e0;
  width: 250px;
}

.MuiListItemIcon-root {
  color: #e0e0e0;
  transition: color 0.2s ease;
  &:hover {
    color: #83c5be;
  }
}


body, button, input, textarea, select, h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
}

